 <!-- main menu-->
      <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->
      <div class="app-sidebar menu-fixed" data-background-color="info" data-scroll-to-active="true" style="background:#1E294F">
        <!-- main menu header-->
        <!-- Sidebar Header starts-->
        <div class="sidebar-header">
          <div class="logo clearfix"><a class="logo-text float-left" href="index.html">
              <div class="logo-img"><img src="../app-assets/img/logo.png" alt="Apex Logo"/></div><span class="text">APEX</span></a><a class="nav-toggle d-none d-lg-none d-xl-block" id="sidebarToggle" href="javascript:;"><i class="toggle-icon ft-toggle-right" data-toggle="expanded"></i></a><a class="nav-close d-block d-lg-block d-xl-none" id="sidebarClose" href="javascript:;"><i class="ft-x"></i></a></div>
        </div>
        <!-- Sidebar Header Ends-->
        <!-- / main menu header-->
        <!-- main menu content-->
        <div class="sidebar-content main-menu-content">
          <div class="nav-container">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
    
              <li class=" nav-item"><a href="app-taskboard.html"><i class="ft-file-text"></i><span class="menu-title" data-i18n="Task Board">Task Board</span></a>
              </li>
              <li class="has-sub nav-item"><a href="javascript:;"><i class="ft-box"></i><span class="menu-title" data-i18n="Components">Components</span></a>
                <ul class="menu-content">
                  <li class="has-sub"><a href="javascript:;"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Bootstrap">Bootstrap</span></a>
                    <ul class="menu-content">
                      <li><a href="components-buttons.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Buttons">Buttons</span></a>
                      </li>
                      <li><a href="components-alerts.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Alerts">Alerts</span></a>
                      </li>
                      <li><a href="components-badges.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Badges">Badges</span></a>
                      </li>
                      <li><a href="components-dropdowns.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Dropdowns">Dropdowns</span></a>
                      </li>
                      <li><a href="components-media-objects.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Media Objects">Media Objects</span></a>
                      </li>
                      <li><a href="components-pagination.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Pagination">Pagination</span></a>
                      </li>
                      <li><a href="components-progress.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Progress Bars">Progress Bars</span></a>
                      </li>
                      <li><a href="components-modals.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Modals">Modals</span></a>
                      </li>
                      <li><a href="components-collapse.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Collapse">Collapse</span></a>
                      </li>
                      <li><a href="components-lists.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="List">List</span></a>
                      </li>
                      <li><a href="components-carousel.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Carousel">Carousel</span></a>
                      </li>
                      <li><a href="components-popover.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Popover">Popover</span></a>
                      </li>
                      <li><a href="components-tabs.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Tabs">Tabs</span></a>
                      </li>
                      <li><a href="components-tooltip.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Tooltip">Tooltip</span></a>
                      </li>
                      <li><a href="components-spinner.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Spinner">Spinner</span></a>
                      </li>
                      <li><a href="components-toast.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Toast">Toast</span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-sub"><a href="javascript:;"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Extra">Extra</span></a>
                    <ul class="menu-content">
                      <li><a href="ex-component-sweet-alerts.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Sweet Alert">Sweet Alert</span></a>
                      </li>
                      <li><a href="ex-component-toastr.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Toastr">Toastr</span></a>
                      </li>
                      <li><a href="ex-component-nouislider.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="NoUI Slider">NoUI Slider</span></a>
                      </li>
                      <li><a href="ex-component-upload.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Upload">Upload</span></a>
                      </li>
                      <li><a href="ex-component-dragndrop.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Drag and Drop">Drag and Drop</span></a>
                      </li>
                      <li><a href="ex-component-tour.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Tour">Tour</span></a>
                      </li>
                      <li><a href="ex-component-media-player.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Media Player">Media Player</span></a>
                      </li>
                      <li><a href="ex-component-treeview.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Treeview">Treeview</span></a>
                      </li>
                      <li><a href="ex-component-swiper.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Swiper">Swiper</span></a>
                      </li>
                      <li><a href="ex-component-miscellaneous.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Miscellaneous">Miscellaneous</span></a>
                      </li>
                      <li><a href="ex-component-avatar.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Avatar">Avatar</span></a>
                      </li>
                      <li><a href="ex-component-image-cropper.html"><i class="ft-arrow-right submenu-icon"></i><span class="menu-item" data-i18n="Image Cropper">Image Cropper</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class=" nav-item"><a href="https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-documentation" target="_blank"><i class="ft-book"></i><span class="menu-title" data-i18n="Documentation">Documentation</span></a>
              </li>
              <li class=" nav-item"><a href="https://pixinvent.ticksy.com/" target="_blank"><i class="ft-life-buoy"></i><span class="menu-title" data-i18n="Support">Support</span></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- main menu content-->
        <div class="sidebar-background"></div>
        <!-- main menu footer-->
        <!-- include includes/menu-footer-->
        <!-- main menu footer-->
        <!-- / main menu-->
      </div>

@code {

}
